version: '3.8'

services:
  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: redhat123
      MYSQL_DATABASE: Avianya_tech
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  producer:
    build: ./producer-server
    depends_on:
      - redis

  consumer:
    build: ./consumer-server
    depends_on:
      - redis
      - mysql

volumes:
  mysql_data:
  redis_data: